/*メニューバーの指定*/
.menuBtn {
  display: inline-block;
  width:100px;
  padding: .1em;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all .3s;
}
.menuBtn:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, .6) inset;
}



/* Worksの画像設定*/
.worksTdImg {
	width: 25%;
	vertical-align: baseline;
	padding: 0px 15px 0px 15px;
}
.worksTdSummary {
	vertical-align: top;
}
.worksTdNo {
	width: 20px;
	vertical-align: baseline;
}
.worksTdDetail {
	vertical-align: baseline;
}


.title1 { width:270px; color: #e6e6fa; padding: 0 0; border-top: solid 3px #ffff00; border-bottom: solid 3px #ffff00; }

.list1 li:before {
    content:  "";     /* 空の要素作成 */
    width:  10px;               /* 幅指定 */
    height:  10px;              /* 高さ指定 */
    display:  inline-block;     /* インラインブロックにする */
    background-color: #f44336;  /* 背景色指定 */
    border-radius:  50%;        /* 要素を丸くする */
    position:  relative;        /* 位置調整 */
    top: -1px;                  /* 位置調整 */
	left:-20px;
    margin-right: -15px;          /* 余白指定 */
}

.marker1 { background:linear-gradient(transparent 70%, #99ccff 0%); }


